<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Here is the data from Microsoft Graph !!</title>
</head>
<body  style="background-color:black;color:white;font-family: Segoe UI Light;">
<center>
<h1>
Welcome, <u>{{ displayName}}</u>
</h1>
</center>
<p1><b>User Data:</b> </p1>
<table>
{% for key, value in graph_data.items() %}
   <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
   </tr>
{% endfor %}
</table>
{{ alertLog | safe }}
{{ alerts | safe }}
</body>
</html>


<form method="POST">
    Alert me on <input name="phone"> when 
    <select name="options_parameter">
  <option value="temperature">Temperature</option>
  <option value="pressure">Pressure</option>
  <option value="humidity">Humidity</option>
 
</select>
    <select name="options_condition">
  <option value="gte">>=</option>
  <option value="lte"><=</option>
  <option value="equal">=</option>
 
</select>
        

 <input name="temperature_value">
   <input name="email" value='{{ userPrincipalName }}' type='hidden'>
   <input name="displayName" value= '{{ displayName }}' type='hidden'>
    <input type="submit" value='Create Alert'>
</form>